<header class="shadow-sm bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto,row" style="font-size: 15px;">
          <li class="nav-item col text-center">
            <%= link_to 'TOPページ', root_path, class: 'nav-link text-primary' %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item col text-center" >
              <%= link_to 'お気に入りスポット投稿！', new_favorite_post_path, class: 'nav-link text-primary' %>
            </li>
            <%# 改行しても結局２行目が文字数オーバーで中途半端な３行になっちゃったからやめた。
            <li class="nav-item col text-center" >
              <%= link_to ('お気に入り<br>スポット投稿！').html_safe, new_favorite_post_path, class: 'nav-link text-primary'
            </li>
            %>
            <li class="nav-item col text-center">
              <%= link_to 'お気に入りスポット一覧', favorite_posts_path, class: 'nav-link text-primary' %>
            </li>
            <li class="nav-item col text-center">
              <%= link_to 'スケジュール新規作成！', new_schedule_post_path, class: 'nav-link text-primary' %>
            </li>
            <li class="nav-item col text-center">
              <%= link_to 'スケジュール一覧', schedule_posts_path, class: 'nav-link text-primary' %>
            </li>
            <li class="nav-item col text-center">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-primary' %>
            </li>
            <li class="nav-item col text-center">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-primary' %>
            </li>
          <% else %>
            <li class="nav-item col text-center">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-primary' %>
            </li>
            <li class="nav-item col text-center">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-primary' %>
            </li>
            <li class="nav-item col text-center">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-primary' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="d-flex justify-content-center">
    <%= render 'layouts/shared/search' %>
  </div>
</header>