<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1>スケジュール投稿一覧</h1>

      <% @schedule_posts.each do |schedule_post| %>
        <div class="card mb-4">
          <div class="row no-gutters d-flex align-items-center">
            <div class="col-md-4">
              <%= image_tag schedule_post.get_schedule_post_image(100, 100), class: "card-img mb-3" %>
            </div>
            <div class="col-md-8">
              <div class="card-body" style="word-wrap: break-word;">
                <label class="d-block text-left">旅のタイトル：<strong><%= link_to schedule_post.trip_title, schedule_post_path(schedule_post.id) %></strong></label>
                <% if false %>
                <label class="d-block text-left">緯度：<strong><%= schedule_post.latitude %></strong></label>
                <label class="d-block text-left">経度：<strong><%= schedule_post.longitude %></strong></label>
                <% end %>
                <label class="d-block text-left">住所：<strong><span> <%= schedule_post.address %></span></strong></label>
                <label class="d-block text-left">持ち物リスト：<strong><span> <%= schedule_post.inventory_list %></span></strong></label>
                <label class="d-block text-left">ユーザーネーム：<strong><%= schedule_post.user.name %></strong></label>

                <% schedule_post.trip_itineraries.each do |itinerary| %>
                  <div class="card mt-3">
                    <div class="card-body">
                      <label class="d-block text-left">訪問先名：<%= itinerary.spot_name %></label>
                      <label class="d-block text-left">日時：<%= itinerary.date_time %></label>
                      <label class="d-block text-left">メモ：<%= itinerary.body %></label>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      <% end %>

      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
          <%= paginate @schedule_posts, class: 'page-item me-5' %>
        </ul>
      </nav>
    </div>
  </div>
</div>
