<div class="container">
  <div class="text-center">
    <h1>スケジュールを新規作成</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @schedule_post do |f| %>
        <div class="form-group">
          <%= f.label :trip_title, "旅のタイトル" %>
          <%= f.text_field :trip_title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :schedule_post_image, "画像" %>
          <%= f.file_field :schedule_post_image, accept: "image/*", class: "form-control-file" %>
        </div>
        <%if false %> <%# コメントアウト%>
        <div class="form-group">
          <%= f.label :latitude, "緯度" %>
          <%= f.text_field :latitude, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :longitude, "経度" %>
          <%= f.text_field :longitude, class: "form-control" %>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.label :inventory_list, "持ち物リスト" %>
          <%= f.text_area :inventory_list, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_area :address, class: "form-control" %>
        </div>

        <div id="trip-itineraries">
          <%= f.fields_for :trip_itineraries do |trip_itinerary_form| %>
            <%= render 'schedule_posts/trip_itinerary', f: trip_itinerary_form %>
          <% end %>
          <div class="links">
            <%= link_to_add_association '訪問先を追加', f, :trip_itineraries, partial: 'schedule_posts/trip_itinerary' %>
          </div>
        </div>

        <%= f.submit '投稿', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
