<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-6">
      <h1 class="text-center mb-3">スケジュール詳細</h1>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <%= image_tag @schedule_post.get_schedule_post_image(150, 150), class: "mb-3 img-fluid" %>
            </div>
            <div class="col-8 d-flex flex-column align-items-normal">
              <label class="ml-3">旅のタイトル：<%= @schedule_post.trip_title %></label>
              <label class="ml-3">住所：<%= @schedule_post.address %></label>
              <label class="ml-3">持ち物リスト：<%= @schedule_post.inventory_list %></label>
              <label class="ml-3">ユーザーネーム：<%= link_to @schedule_post.user.name, user_path(@schedule_post.user) %></label>
              <% if current_user == @schedule_post.user %>
                <%= link_to "編集", edit_schedule_post_path(@schedule_post.id), class: "btn btn-primary mt-2" %>
                <%= link_to "削除", schedule_post_path(@schedule_post), method: :delete, class: "btn btn-danger mt-2" %>
              <% end %>
            </div>
          </div>
          <% @trip_itineraries.each do |itinerary| %>
            <div class="card mt-2">
              <div class="card-body">
                <label class="ml-3 d-block">訪問先名：<%= itinerary.spot_name %></label>
                <label class="ml-3 d-block">住所：<%= itinerary.address %></label>
                <label class="ml-3 d-block">日時：<%= itinerary.date_time %></label>
                <label class="ml-3 d-block">メモ：<%= itinerary.body %></label>
              </div>
            </div>
          <% end %>
          <!-- Googleマップ表示部分 -->
          <div id="map" style="height: 500px;"></div>
          <script>
            function initMap() {
              // 地図要素を取得する（マーカーを表示させるために必要）
              const mapElement = document.getElementById('map');

              const mapOptions = {
                center: { lat: <%= @schedule_post.latitude || 35.681236 %>, lng: <%= @schedule_post.longitude || 139.767125 %> },
                zoom: 10
              };

              const map = new google.maps.Map(mapElement, mapOptions);

              // マーカーを追加
              new google.maps.Marker({
                position: {lat: <%= @schedule_post.latitude || 35.681236 %>, lng: <%= @schedule_post.longitude || 139.767125 %>},
                map: map,
                title: '<%= j @schedule_post.trip_title %>'
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap" async defer></script>
        </div>
      </div>
    </div>
  </div>
</div>
