<div class="container mt-5">
  <h1 class="text-center">スケジュール詳細</h1>
  <div class="row mt-5">
    <div class="col-4">
      <%= image_tag @schedule_post.get_schedule_post_image(200, 200), class: "img-fluid" %>
    </div>
    <div class="col-8">
      <p>旅のタイトル：<%= @schedule_post.trip_title %></p>
      <p>緯度：<%= @schedule_post.latitude %></p>
      <p>経度：<%= @schedule_post.longitude %></p>
      <div>
        <% @trip_itineraries.each do |itinerary| %>
          <div class="card mt-3">
            <div class="card-body">
              <p>訪問先名：<%= itinerary.spot_name %></p>
              <p>日時：<%= itinerary.date_time %></p>
              <p>メモ：<%= itinerary.body %></p>
            </div>
          </div>
        <% end %>
      </div>
      <p>持ち物リスト：<%= @schedule_post.inventory_list %></p>
      <p>ユーザーネーム：<%= @schedule_post.user.name %></p>
      <% if current_user == @schedule_post.user %>
        <div class="mt-3">
          <%= link_to "編集", edit_schedule_post_path(@schedule_post.id), class: "btn btn-primary" %>
          <%= link_to "削除", schedule_post_path(@schedule_post), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
