<div class="container">
  <div class="row">
    <div class="col-2">
      <h3><%= @user.name %></h3>
      <div style="text-align: center;">
        <%= image_tag @user.get_profile_image(200, 200) %>
      </div>

      <% if current_user == @user && !current_user.guest_user? %>
        <div class="">
          <%= link_to raw('<i class="fa-solid fa-user-gear"></i> プロフィール編集'), edit_user_path(@user), class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" %>
        </div>
      <% end %>
    </div>

    <div class="col-10">
      <h4 style="font-weight: bold;"><%= @user.name %>のお気に入りスポット一覧</h4>
      <div class="row">
        <% @favorite_posts.each do |favorite_post| %>
          <div class="col-6">
            <div class="card mb-4">
              <div class="card-body">
                <%= image_tag favorite_post.get_favorite_post_image(100, 100) %>
                <p>スポット名：<strong><%= link_to favorite_post.spot_name, favorite_post_path(favorite_post.id) %></strong></p>
                <p>カテゴリ：<strong><%= favorite_post.category %></strong></p>
                <p>本文：<strong><span> <%= favorite_post.body %></span></strong></p>
                <p>投稿ユーザー：<strong><%= favorite_post.user.name %></strong></p>
                <p><%= link_to "#{favorite_post.favorite_post_comments.count} コメント", favorite_post_path(favorite_post.id) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center" style="font-size: 24px;">
              <%= paginate @favorite_posts, left: 1,right:2 %>
            </ul>
          </nav>
        </div>
      </div>



      <h4 style="font-weight: bold;"><%= @user.name %>のスケジュール一覧</h4>
      <div class="row">
        <% @schedule_posts.each do |schedule_post| %>
          <div class="col-6">
            <div class="card mb-4">
              <div class="card-body">
                <%= image_tag schedule_post.get_schedule_post_image(100, 100) %>
                <p>旅のタイトル：<strong><%= link_to schedule_post.trip_title, schedule_post_path(schedule_post.id) %></strong></p>
                <p>緯度：<strong><%= schedule_post.latitude %></strong></p>
                <p>経度：<strong><%= schedule_post.longitude %></strong></p>

                <% schedule_post.trip_itineraries.each do |itinerary| %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <p>訪問先名：<%= itinerary.spot_name %></p>
                      <p>日時：<%= itinerary.date_time %></p>
                      <p>メモ：<%= itinerary.body %></p>
                    </div>
                  </div>
                <% end %>


                <p>持ち物リスト：<strong><span> <%= schedule_post.inventory_list %></span></strong></p>
                <p>ユーザーネーム：<strong><%= schedule_post.user.name %></strong></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center" style="font-size: 20px;">
              <%= paginate @schedule_posts, window: 2 %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
