<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user.id) %></td>
          <td><%= image_tag user.get_profile_image(100, 100) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @favorite_posts.each do |favorite_post| %>
        <tr>
          <td><%= image_tag favorite_post.get_favorite_post_image(100, 100) %></td>
          <td><%= link_to favorite_post.spot_name, favorite_post_path(favorite_post.id) %></td>
          <td><%= favorite_post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>