<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1>スポット投稿一覧</h1>

      <% @favorite_posts.each do |favorite_post| %>
        <div class="card mb-4">
          <div class="row no-gutters d-flex align-items-center">
            <div class="col-md-4">
              <%= image_tag favorite_post.get_favorite_post_image(100, 100), class: "card-img mb-3" %>
            </div>
            <div class="col-md-8">
              <div class="card-body" style="word-wrap: break-word;">
                <label class="d-block text-left">スポット名：<strong><%= link_to favorite_post.spot_name, favorite_post_path(favorite_post.id) %></strong></label>
                <label class="d-block text-left">カテゴリ：<strong><%= favorite_post.category %></strong></label>
                <label class="d-block text-left">本文：<strong><span> <%= favorite_post.body %></span></strong></label>
                <label class="d-block text-left">投稿ユーザー：<strong><%= favorite_post.user.name %></strong></label>
                <label class="d-block text-left"><%= link_to "#{favorite_post.favorite_post_comments.count} コメント", favorite_post_path(favorite_post.id) %></label>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
          <%= paginate @favorite_posts, class: 'page-item me-5' %>
        </ul>
      </nav>
    </div>
  </div>
</div>
