<div class="container">
  <div class="text-center">
    <h1>お気に入りスポットを投稿！</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @favorite_post do |f| %>
        <div class="form-group">
          <%= f.label :spot_name, "スポット名" %>
          <%= f.text_field :spot_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :category, "カテゴリ" %>
          <%= f.select :category, FavoritePost.categories.map { |key, value| [I18n.t("categories.#{key}"), key] }, {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "本文" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :favorite_post_image, "画像" %>
          <%= f.file_field :favorite_post_image, accept: "image/*", class: "form-control-file" %>
        </div>
        <%= f.submit '投稿', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
