<h1>お気に入りスポット詳細</h1>

<div>
  <%= image_tag @favorite_post.get_favorite_post_image(100, 100) %>
  <p>スポット名：<%= @favorite_post.spot_name %></p>
  <p>カテゴリ：<%= @favorite_post.category %></p>
  <p>本文：<%= @favorite_post.body %></p>
  <p>ユーザーネーム：<%= @favorite_post.user.name %></p>
</div>

  <% if current_user == @favorite_post.user %>
    <%= link_to "編集",edit_favorite_post_path(@favorite_post.id) %>
    <%= link_to "削除",favorite_post_path(@favorite_post), method: :delete %>
  <% end %>

<div>
  <p>コメント件数：<%= @favorite_post.favorite_post_comments.count %></p>
  <% @favorite_post.favorite_post_comments.each do |favorite_post_comment| %>
    <p><%= image_tag favorite_post_comment.user.get_profile_image(100,100) %></p>
    <%= favorite_post_comment.user.name %>
    <%= favorite_post_comment.created_at.strftime('%Y/%m/%d') %><%= favorite_post_comment.favorite_post_comment_body %>
    <% if favorite_post_comment.user == current_user %>
      <%= link_to "削除", favorite_post_favorite_post_comment_path(favorite_post_comment.favorite_post, favorite_post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@favorite_post, @favorite_post_comment] do |f| %>
    <%= f.text_area :favorite_post_comment_body, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
