<div class="container">
  <h1 class="text-center">ユーザー管理画面</h1>
  <div class="row justify-content-center">
    <div class="col">
      <%= image_tag @user.get_profile_image(400, 400) %>
    </div>

    <div class="col">
      <label>ユーザーID：<%= @user.id %></label><br>
      <label>ユーザー名：<%= @user.name %></label><br>
      <label>メールアドレス：<%= @user.email %></label><br>
      <label>ステータス：<%= @user.status ? '退会' : '有効' %></label><br>
      <%= link_to 'ステータスを切り替える', toggle_status_admin_user_path(@user), method: :patch, class: 'btn btn-primary' %>
      <div>
        <%= link_to 'このユーザーを削除', admin_user_path(@user), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
      </div>
      <div>
        <%= link_to '全ユーザー一覧へ戻る', admin_dashboards_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
